*{
    margin: 0; 
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}
  
body{
    background-image: url("../img/homepage_background.jpg");
    background-size: cover;
    background-position: center;
}

.home{
    min-height: 60vh;
    width: 60%;
    /* margin: 210px auto; */
    margin: 13.125rem auto;
    display: grid;
}

.container{
    /* padding-bottom: 10px; */
    padding-bottom: 0.625rem;
}
  
.container nav{
    /* font-size: 70px; */
    font-size: 4.375rem;
}
  
.container nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.container nav ul li{
    display: inline-block;
    /* margin-left: 20px; */
    margin-left: 1.25rem;
    position: relative;
}
  
.container nav ul li a{
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    /* border-radius: 10px; */
    border-radius: 0.625rem;
    /* padding: 7px; */
    padding: 0.4375rem;
} 
  
.container nav ul li a:hover{
    color: #F0F3F4  ;
}
  
.home a{
    color: #808080;
    text-decoration: none;
    /* padding-left: 450px; */
    padding-left: 28.125rem;
}