*{
    margin: 0; 
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body{
    background-image: url("../img/homepage_background.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.93;
}

.main-content{
    min-height: 60vh; 
    height: 810px;
    width: 80%;
    margin: 130px auto;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.left-top{
    grid-column: 1/9;
    grid-row: 1/8;
    background-color: white;
}

.left-bottom{
    grid-column: 1/9;
    grid-row: 8/15;
    background-color: white;
}

.right-top-left{
    grid-column: 9/11;
    grid-row: 1/7;
    background-color: #666362;
}

.right-top-right{
    grid-column: 11/15;
    grid-row: 1/7;
    background-color: #666362;
}

.right-bottom{
    grid-column: 9/15;
    grid-row: 7/15;
    background-color: #666362;
}

.order{
    padding-top: 1.25rem;
}

.order-title h3{
    font-size: 1.25rem;
    color: #dadbdd;
    font-weight: 400;
    letter-spacing: 0.15625rem;
    padding-top: 1.875rem;
    padding-bottom: 1.5625rem;
    text-transform: uppercase;
    text-align: right;
    /* border-bottom: 2px solid #A6ACAF; */
}

.order-form {
    width: 21.875rem;
    margin-top: 3rem;
    padding-left: 1.25rem;
    /* padding: 45px; */
    /* border: 2px solid #ccc; */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.order-form select{
    /* display: block; */
    width: 100%;
    margin-top: 0.3125rem;
    height: 2.1875rem;
    /* padding: 35px; */
    /* border-bottom: 1px solid #ccc; */
    /* background-color: #666362; */
    /* border-radius: 5px; */
    font-size: 1.125rem;
    color: #666362;
}

.order-form input[type="text"],
.order-form input[type="number"] {
    display: block;
    width: 100%;
    margin-top: 2.1875rem;
    padding: 0.625rem;
    border-bottom: 0.0625rem solid #ccc;
    background-color: #666362;
    /* border-radius: 5px; */
    font-size: 1.125rem;
    color: white;
}
  
.sell-bot button[type="submit"]{
    float: left;
    display: block;
    width: 9.6875rem;
    padding: 0.625rem;
    margin-bottom: 0.9375rem;
    margin-top: 1.875rem;
    margin-right: 1.25rem;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1.125rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-bot button[type="submit"]{
    display: block;
    width: 9.6875rem;
    padding: 0.625rem;
    margin-top: 1.875rem;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1.125rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* .order-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
   */
.order-form button[type="submit"]:hover {
    background-color: #808080;
}

.scrollable-window {
    width: 51.25rem;
    height: 25.625rem;
    background-color: #fff;
    font-size: 3.125rem;
    overflow: scroll;
}

.scrollable-window::-webkit-scrollbar {
    width: 0.625rem; /* 定义滚动条宽度 */
    height: 0rem;
}

.scrollable-window::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 定义滚动条轨道背景颜色 */
}

.scrollable-window::-webkit-scrollbar-thumb {
    background-color: #888; /* 定义滚动条滑块背景颜色 */
}
  
.scrollable-window{
    /* overflow:hidden; */
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35);
}

.record{
    font-family: 'Oswald', sans-serif;
    border-collapse:collapse;
    font-size: 1.25rem;
}

.historical-data,
.completed-trade-data{
    width: 51.25rem;
    /* height: 50px; */
    font-size: 1.25rem;
}

th{
    background-color: #626567;
    height: 3.125rem;
    color:#ffffff;
    /* width: 135px;
    height: 55px; */
}

td{
    background-color:#ffffff;
    /* width: 135px; */
    height: 2.5rem;
    font-size: 1.0625rem;
    color: #666362;
    text-align:center;
    text-transform: uppercase;
}

tr{
    border-bottom: 0.0625rem solid #dddddd;
}

tr:last-of-type{
    border-bottom: 0.125rem solid #009879;
}

tr:nth-of-type(even) td{
    background-color:#f3f3f3;
}

.market-order{
    /* font-size: 20px; */
    padding-top: 0.9375rem;
    color: #666362;
    background-color: white;
    margin: 0.625rem;
    text-align: right;
}

.market-order h1{
    float: left;
    /* padding-left: 20px; */
    padding-top: 3.75rem;
    padding-bottom: 2.5rem;
    font-size: 3.125rem;
}

.sell-title{
    padding-left: 1.875rem;
    padding-right: 0.2rem;
    color: green;
}

.buy-title{
    padding-left: 1.875rem;
    padding-right: 1.4rem;
    color: red;
}

.market-order p{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    background-color: #ccc;
    border-radius: 10px;
}


ul{
    font-size: 20px;
    padding-bottom: 11px; 
    float: left;
    /* padding-right: 20px; */
}

li{
    font-size: 20px;
    /* float: right; */
    padding-bottom: 11px;
    /* padding-right: 180px; */
}



.container{
    padding-top: 25px;
    /* padding-right: 15px; */
}
  
.container nav ul li{
    margin-left: 50px;
}
  
.container nav ul a{
    font-size: 20px;
    margin-left: 230px;
    color: #f3f3f3;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #A6ACAF;
} 
  
.container nav ul a:hover{
    background-color: #bcc6cc;
    color: white;
}

.possession{
    color: #666362;
    font-size: 17px;
    text-transform: uppercase;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #A6ACAF;
    background-color: #ccc;

}

.progress-bar{
    width: 12rem;
    height: 0.5rem;
    float: right;
    margin-left: 0.625rem;
    margin-top: 0.3125rem; 
    background-color: white;
    position: relative;
    left: 0;
    border-radius: 0.625rem  ;
}

.bid_bar {
    height: 1rem;
    background-color: red;
}

.ask_bar {
    height: 1rem;
    background-color: green;
}